<h1>Listado de productos</h1>

<table border="solid">
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Imágen</th>
    <th>Código</th>
    <th>Stock</th>
    <th>Estado</th>
    <th>Categoría</th>
  </tr>
  {{#each products}}
    <tr>
      <td> {{this.id}}</td>
      <td> {{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td> {{this.thumbnail}}</td>
      <td> {{this.code}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.status}}</td>
      <td> {{this.category}}</td>
    </tr>
  {{/each}}

</table>